{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container text-center mt-2">
        <div class="header">
            <h2 class="text-white">Playlists</h2>
            <p class="text-white">Selecciona una playlist para obtener recomendaciones</p>
        </div>
        <form action="{% url 'home' %}" method="get">
            <input class="busqueda" type="text" id="search" name="search" placeholder="  Busca una playlist">
        </form>
        <div class="overflow-auto" style="max-height: 63vh; background-color: #363434; border-radius: 12px;">
            <ul class="p-2">
                {% for pl in playlists %}
                    <li class="mt-2" style="font-size: larger; background-color: #474444; border-radius: 5px;">
                        <a style="text-decoration: none; color: #5ac48f;" class="w-100" href="{% url 'playlist' pl.id %}">{{ pl.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}